# Rust build artifacts
target/

# OS artifacts
.DS_Store
.AppleDouble
.LSOverride

# Models (Downloaded by script)
*.onnx
*.bin
*.xml
*.pt
*.pth
*.safetensors
*.gz

# Calibration Data
calibration_data/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Local Logs
*.log
overlay_app
overlay_app

# Python
venv/
__pycache__/
*.pyc
*.pyo
.Python
